 .u-section-1 {
  background-image: url("images/5b22d64f9f511fb247c6c9a67119e784b090dddd118c14c45835403d3230db19d791c6fd5a9d6c35dd77edaacaa6dd72638469f38de56eebda3df6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 450px;
  background-image: none;
  margin: 46px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 324px;
  min-width: 196px;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 48px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
}

.u-section-1 .u-icon-4 {
  height: 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(197, 54, 164) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-group-1 {
    min-height: 405px;
    margin-top: 53px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}